@model Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary

<div class='@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") panel panel-danger'
     data-valmsg-summary="true">
    <div class="panel-heading">
        Testing
    </div>
    <div class="panel-body">
        <ul>
            @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
</div>

@*<div class="@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") govuk-error-summary"
     aria-labelledby="error-summary-title" 
     role="alert" 
     tabindex="-1" 
     data-module="error-summary"
     data-valmsg-summary="true">

    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>

    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li><a href="#postcode-error">@modelError.ErrorMessage</a></li>
            }
        </ul>
    </div>
</div>*@
